$basecolor: #212121;
$darkgrey: #212121;
$lightred: #ff0000; // set your new color…
$blue: #00bcd4;
$facebook: #507cbe;

$color_text: $darkgrey;
$color_heading: $blue;
$color_link: $blue;
$color_header_background: $darkgrey;
$color_heading_background: $blue;
