// import bourbon
@import 'vendor/bourbon/bourbon';
@import 'grid-settings';
@import 'vendor/neat/neat';



/*
* Build your awesome grid however your heart desires
*
* For guide on building a grid with Bourbon Neat checkout the docs
* http://neat.bourbon.io/
*/

.right { float:right; }
.left { float:left; }

.wrapper {
  @include outer-container;
  padding:0 em(20);
}

.col-full {
  @include span-columns(12);
  margin-bottom:30px;

  @include media($medium) {
    @include span-columns(8);
  }
}


.col-wide {
  @include span-columns(8);
  @include omega();
  float:right;
  //margin-bottom:30px;

  @include media($medium) {
    @include span-columns(8);
  }

  @include media($small) {
    @include span-columns(4);
  }
}

.col-narrow {
	@include span-columns(3);
  /* @include shift(1); */
  //margin-bottom:30px;

  @include media($medium) {
    @include span-columns(8);
  }
}

.col-thirds {
  @include span-columns(4);
  margin-bottom:30px;

  @include media($medium) {
    @include span-columns(4);
    &:nth-child(2n) { @include omega(); }
  }

  @include media($small) {
    @include span-columns(2);
    &:nth-child(2n) { @include omega(); }
  }
}
