@font-face {
		font-family: 'baron_neueblack';
		src: url('/assets/fonts/baron_neue_black-webfont.eot');
		src: url('/assets/fonts/baron_neue_black-webfont.eot?#iefix') format('embedded-opentype'),
				url('/assets/fonts/baron_neue_black-webfont.woff2') format('woff2'),
				url('/assets/fonts/baron_neue_black-webfont.woff') format('woff'),
				url('/assets/fonts/baron_neue_black-webfont.ttf') format('truetype'),
				url('/assets/fonts/baron_neue_black-webfont.svg#baron_neueblack') format('svg');
		font-weight: normal;
		font-style: normal;

}

$basefont: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headingfont: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$brandfont: "baron_neueblack", "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
	font-family:$basefont;
	font-size:20px;
	line-height:32px;
	color:$color_text;
}

h1, h2, h3, h4, h5, h6 { font-family: $headingfont; }

#logo {
		font-family:$brandfont;
		font-size:36px;
		line-height:60px;

		a { color:white;}
}

#title {
	background:$color_heading_background;
	padding:80px 0 40px 0;
}

h1 {
		font-weight:300;
		font-size:60px;
		line-height:80px;
		color:white;
		margin-bottom: 0;
		margin-top: 0;
}

h2 {
	padding:0;
	margin:0;
	clear:both;
	color:$color_heading;
}

h2.entry-title {
	margin-bottom:0;

	a {
		color:$color_text;
		margin-bottom:0;
		font-size:36px;
		overflow:hidden;
		line-height:80px;
		display: block;
		font-weight:300;
		border-bottom:1px solid $color_border;

		&:hover {
			background:$color_link;
			padding:0 20px;
			color:white;
		}

		@include media($small) {
			font-size:24px;
		}
	}

	span.date {
		float:right;
		font-size:18px;
		line-height:30px;
		margin-top:30px;
	}
}

h3 {
	font-size:18px;
	line-height:30px;
}

h4 {

}

p {
	font-family:$basefont;
	font-size:20px;
	line-height:32px;
	margin:0 0 30px 0;
	color:$color_text;
}

a {
	text-decoration:none;
	outline:none;
	color:$color_link;
}


ul {
	list-style:square;
	padding-left:20px;
	margin-bottom:30px;
}

li, dl {
	font-size:20px;
}

dl {}
dt {
	font-weight: bold;
}

dd {
	margin-left: 0px;
	margin-bottom:20px;
}
