{% extends "_layouts/_master" %}

{% block content %}

<div class="wrapper homepage">
  <h3>Latest Posts</h3>
  {% for blogPost in craft.entries.section('blog').status('live,pending').find() %}
    <article>
      <h2 class="entry-title">
        <a href="{{ blogPost.url }}">
          {{ blogPost.title }}
          <span class="date">{{ blogPost.postDate|date('M d, Y') }}</span>
        </a>
      </h2>
    </article>
  {% else %}
    <div class="pane">
      <p>No posts yet :(</p>
    </div>
  {% endfor %}

</div>
{% endblock %}
